<div class="container">
  <app-navbar-admin></app-navbar-admin>
  <div class="jumbotron">
    <h2 class="display-4">Admin Quản lý Nhà Thuốc</h2>
    <hr class="my-4" />
  </div>

  <a class="btn btn-danger" (click)="logOut()">Đăng xuất</a>

  <table class="table table-hover" width="100%">
    <thead>
      <tr>
        <th>Id</th>
        <th>Order Code</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of allOrderData">
        <td></td>
        <td>{{ data.order_code }}</td>
        <td>{{ data.status }}</td>
        <td>
          <a
            routerLink="/order_details/{{ data.order_code }}/{{ data.id }}"
            class="btn btn-warning"
            >View Order</a
          >
        </td>
        <td>
          <a class="btn btn-danger" (click)="deleteOrder(data)">Xóa đơn hàng</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
